@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

@import 'tailwindcss/theme.css' prefix(ar);
@import 'tailwindcss/utilities.css' prefix(ar);

@layer custom-base {
  .arns-marketplace-ui {
    @import 'tailwindcss/preflight.css';
  }
}

@theme {
  --font-*: initial;
  --font-base:
    'Rubik', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';

  --color-*: initial;
  --color-primary: #ffb938;

  --color-neutral-50: #fafafa;
  --color-neutral-100: #f5f5f5;
  --color-neutral-200: #e5e5e5;
  --color-neutral-300: #d4d4d4;
  --color-neutral-400: #a3a3a3;
  --color-neutral-500: #737373;
  --color-neutral-600: #525252;
  --color-neutral-700: #404040;
  --color-neutral-800: #262626;
  --color-neutral-900: #171717;
  --color-neutral-950: #09090b;

  --color-blue-50: #eff6ff;
  --color-blue-100: #dbeafe;
  --color-blue-200: #bfdbfe;
  --color-blue-300: #93c5fd;
  --color-blue-400: #60a5fa;
  --color-blue-500: #3b82f6;
  --color-blue-600: #2563eb;
  --color-blue-700: #1d4ed8;
  --color-blue-800: #1d4ed8;
  --color-blue-900: #1e3a8a;
  --color-blue-950: #172554;

  --color-red-50: #fef2f2;
  --color-red-100: #ffe2e2;
  --color-red-200: #fecaca;
  --color-red-300: #fca5a5;
  --color-red-400: #f87171;
  --color-red-500: #ef4444;
  --color-red-600: #dc2626;
  --color-red-700: #b91c1c;
  --color-red-800: #991b1b;
  --color-red-900: #7f1d1d;
  --color-red-950: #450a0a;

  --color-highlight-blue: #7596b2;
  --color-highlight-orange: #f7c3a1;
  --color-highlight-pink: #df9be8;

  --color-white: #ffffff;
  --color-black: #000000;
  --color-transparent: rgba(0, 0, 0, 0);
}

@utility focus-visible {
  -webkit-tap-highlight-color: transparent;
  @apply ar:focus-visible:outline-2 ar:focus-visible:-outline-offset-2 ar:focus-visible:outline-neutral-300;
}
